.projects {
  height: 100%;
  padding: 0 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__container {
  }
  &__title {
    align-self: flex-start;
  }
}
@media (min-width: $breakpoint-tablet) {
  .projects {
    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40vw, 4fr));
      gap: 2rem;
      align-items: stretch;
      justify-items: center;
    }
  }
}
