.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	position: relative;

	&__container {
		width: 100%;
		height: 100vh;
		margin: 0;
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 0;
	}

	&__content {
		position: absolute;
		background: rgba($color: #000000, $alpha: 0.8);
		height: 100%;
		width: 100%;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#hero-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 0;
}
