.slide-menu {
  visibility: hidden;
  display: block;

  height: 100vh;
  z-index: 1000;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-1000px);
  transition: all 0.5s ease-in-out;
  &.active {
    visibility: visible;
    display: block;
    transform: translateX(-0px);
  }

  &__list {
    height: 90%;
    width: 90%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    list-style-type: none;
    text-align: center;
  }
  &__li {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
  }

  &__li a {
    color: white;
    text-decoration: none;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5rem;
    color: white;
    margin: 1rem 2rem;
    cursor: pointer;
  }
}
