.single-project {
	padding: 1rem;
	display: flex;
	flex-flow: column nowrap;
	&__image {
		flex: 1 1 100%;
		& img {
			width: 100%;
			border-radius: 7px 7px 0 0;
		}
	}

	&__title {
		font-weight: bolder;
	}

	&__description {
		line-height: 1.7;
		margin: 0;
		padding: 0;
		font-weight: 300;
	}
	&__buttons {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
	}
}

.tags {
	display: flex;
	&__tag {
		border-radius: 5px;
		background: rgba($color: #0056c7, $alpha: 1);
		display: block;
		color: white;
		padding: 0.25rem 1rem;
		margin-right: 0.5rem;
		height: fit-content;
		text-transform: capitalize;
	}
}
