@import "./Sass/varibles";
@import "./Sass/utlities";
@import "./Sass/animation";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

@import "components/Header/Header.scss";
@import "./components/hero/Hero.scss";
@import "./components/Projects/Projects.scss";
@import "components/SingleProject/SingleProject.scss";
// @import "components/SingleProject/skills.scss";
@import "components/SlideMenu/SlideMenu.scss";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	background-color: $background-color;
	color: $font-color;
	font-family: "Lato";
	overflow-x: hidden;
}

.app {
	position: relative;
	font-size: 1.6rem;
}
